/* Smartphones */
@media (max-width: 812px) {
}

#navbar ul,
#navbar ul li {
  float: none;
}

#countdown {
  font-size: 5rem;
  line-height: 80px;
  padding: 35px 0;
}

#clockbox {
  line-height: 60px;
}

#footer {
  clear: both;
  position: relative;
}

/* Sharks */
.shark-img {
  display: none;
}

.go-sharks {
  font-size: 5rem;
  line-height: 80px;
}

.full-bg-img {
  background: url("../images/ocean.jpg") no-repeat center center/cover;
  height: 125%;
  z-index: -1;
}

/* Blues */
.blues-img {
  display: none;
}

.go-blues {
  font-size: 5rem;
  line-height: 80px;
  text-align: center;
}

.blues-bg {
  background: radial-gradient(yellow, blue);
  height: 125%;
  z-index: -1;
}
