html {
  background-color: black;
}
body {
  width: 1000px;
  margin: 0 auto;
  background-color: teal;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

#sharks {
  font-size: 6rem;
  text-align: center;
  margin-bottom: 0px;
}

#clockbox {
  font-size: 4rem;
  text-align: center;
  margin: 50px 0;
}

#shark-img {
  width: 650px;
  display: block;
  margin: 0 auto;
}

#copyright {
  text-align: center;
}

.countdown {
  text-align: center;
  margin: 20px;
  font-size: 2.75rem;
}
